.ios,.md{
    page-photo-home {
        .scroll-content,.toolbar-background,.input-wrapper, .item {
            background-color: black;
            border: 0px;
            color: white;
            text-align: center;
            font: bold 1.3em Herculanum, regular;
            .icon{
                color: white; 
            }
        }
        img{
            width: 100%;
        }


    }
}

