page-sign-in {
    .scroll-content{
        background: url("../assets/imgs/BG/background-1.png");
        background-size: cover;
    }
    .content-body {
        
        height: 100%;
        width: 100%;
        .grid-top {
            padding-top: 50px;
            position: absolute;
            text-align: center;
            height: 40%;
            img {
                width: 80px;
                height: 80px;
            }
            ion-label {
                margin: 0px;
                color: white;
                font: 1.3em Arial;
            }
        }
        #overlay {
            position: relative;
            width: 100%;
            height: auto;
            top: 32%;
            #card {
                background-color: rgba(255, 255, 255, 0.4);
                margin: auto 5% !important;
                padding: 30px 10% 70px 10%;
                border-radius: 5px !important;
                position: relative;
                /* Sit on top of the page content */
                width: 90%;
                /* Full width (cover the whole page) */
                height: 100%;
                z-index: 2;
                /* Specify a stack order in case you're using a different order for other elements */
                .item-block,
                ion-item {
                    background-color: transparent;
                    min-height: 1rem;
                }
                ion-item {
                    margin: 0px;
                    padding: 0px;
                }
                ion-label {
                    margin: 10px 0px 0px 0px;
                    color: lightgrey;
                }
                input,
                ion-icon,
                item-inner {
                    color: white;
                    margin: 0px;
                    padding: 0px;
                }
                .input-box {
                    //Draws Line under the input boxes
                    border-bottom: 1px solid black;
                }
            }
            .buttons-grid {
                width: 100%;
                position: absolute;
                /* Sit on top of the page content */
                bottom: -70px;
                z-index: 3;
                /* Specify a stack order in case you're using a different order for other elements */
                text-align: center;
                button {
                    margin: 5px auto;
                    width: 80%;
                }
                .sign-up {
                    // background: linear-gradient(to right, #2FA8FF, #2AD0FE);
                    background: linear-gradient(to right, #454545 , #7c7c7c);
                }
                .sign-up-facebook {
                    background-color: #2754B7;
                    color: white;
                }
                ion-label{
                    color:white;
                    a{
                        color:lightgray;
                    }
                }
            }
        }
    }
}