page-home {
    .scroll-content{
        background: url("../assets/imgs/BG/background-1.png");
        background-size: cover;
    }
    .content-body {
        padding: 50px !important;
        .grid-top { 
            text-align: center !important;
            .AppTitle{
                margin: 0px;
                font: bold 35px Herculanum, regular;
                color: white;
            }
            .Description {
                margin: 0px;
                padding: 0px 30px;
                font: 12px Helvetica, regular;
                color: lightgray;
            }
        }
        .grid-bottom {
            padding-top: 30px !important;
            button{
                // box-shadow: 0px 5px 5px lightgray;
            }
            
            .sign-in{
                border: 1px #C8E8FF solid;
                color: #9b9b9b;
                background-color: white;
                
            }
            .sign-up{
               
                // background: linear-gradient(to right, #2FA8FF , #2AD0FE);
                background: linear-gradient(to right, #454545 , #7c7c7c);
                
            }
        }
    }
}