page-home {
    .content-body {
        padding: 50px !important;
        .grid-top { 
            text-align: center !important;
            .AppTitle{
                margin: 0px;
                font: bold 35px Herculanum, regular;
                color: #182C5E;
            }
            .Description {
                margin: 0px;
                padding: 0px 30px;
                font: 12px Helvetica, regular;
                color: lightgray;
            }
        }
        .grid-bottom {
            padding-top: 30px !important;
            button{
                box-shadow: 0px 5px 5px lightgray;
            }
            .sign-up{
                background: linear-gradient(to right, #2FA8FF , #2AD0FE);
            }
            .sign-in{
                border: 1px #C8E8FF solid;
                background-color: white;
                color: #2DB4FF;
            }
        }
    }
}